/*.tweet {
  height: 300px;
  width: 300px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  background: rgb(15, 243, 137);
  border-radius: 25%;
}
.app {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  background: rgb(209, 126, 126);
}
.red {
  color: red;
  font-size: 50px;
}
*/
.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
  background-color: rgb(73, 79, 82);
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
  align-items: center;
  list-style: none;
}
